/* Carousel container styling */
.carousel-container {
  margin-top: 75px;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1000px; /* Adjust the width as needed */
  height: auto; /* Allow the height to be flexible */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--section-bg2);
  overflow: hidden;
}

@media (max-width: 768px) {
  .carousel-container {
    padding: 1rem;
    max-width: 100%;
  }
}

/* Carousel item styling */
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* Video wrapper styling */
.video-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Carousel video styling */
.carousel-video {
  width: 100%;
  height: auto; /* Allow the height to be flexible */
  border-radius: 18px;
  object-fit: cover;
  max-width: 100%; /* Ensure it doesn't exceed the container width */
}

/* Projects carousel container styling */
.projects-carousel-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

/* Project container styling */
.project-container {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 50%;
  background-color: var(--section-bg2);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Project details styling */
.project-details h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.project-details p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0.5rem 0;
}

.project-details strong {
  font-weight: bold;
}

/* Section title styling */
.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
