@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root variables for colors and spacing */
:root {
  --foreground-rgb: 255, 255, 255; /* White text */
  --primary-color: 74, 112, 92; /* Deep Green */
  --secondary-color: 93, 58, 155; /* Void Purple */
  --accent-color: 197, 163, 255; /* Pastel Purple */
  --primary-text: #ffffff; /* White text */
  --secondary-text: #021323; /* White text */
  --header-bg: #5D3A9B; /* Void Purple */
  --section-bg1: #f5d5e0; /* Pastel Purple */
  --section-bg11: #66404d; /* Pastel Purple */
  --section-bg2: #b7c0ff; /* Deep Green */
  --section-bg3: #364d53; /* Pastel Pink */
  --section-bg4: #f5d5e0; /* Pale Turquoise */
  --section-bg: #7c7886; /* Very pale blue */
  --section-bgvoid: #0e0216; /* Very pale blue */
  --base-indent: 0vw;  /* Base indentation */
  --step-indent: 2vw;  /* Step indentation */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 18, 18, 18;
    --background-end-rgb: 24, 24, 24;
  }
}

/* Responsive styles for spacing */
@media (max-width: 1024px) {
  :root {
    --base-indent: 0vw;
    --step-indent: 1.5vw;
  }
}

@media (max-width: 768px) {
  :root {
    --base-indent: 0vw;
    --step-indent: 1vw;
  }
}

@media (max-width: 480px) {
  :root {
    --base-indent: 0vw;
    --step-indent: 0.5vw;
  }
}

/* Global Styles */
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

button {
  background-color: var(--section-bg3);
  color: var(--primary-text);
  padding: 8px 16px;
  border-radius: 2.375rem;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
  margin: 0;
  outline: 2px solid var(--accent-color); /* New outline */
  outline-offset: 2px; /* Space between the button and outline */
}

button:hover {
  background-color: rgb(var(--primary-color));
}

/* Highlighting specific text */
.highlight {
  color: var(--primary-color);
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

/* Text styles for section elements */
.section-text li {
  margin-bottom: 1rem; /* Space between list items */
}

.section-text h3 {
  font-size: 1.5rem; /* Adjusted font size for better readability */
  font-weight: 600; /* Make the text bold */
  margin: 0; /* Remove default margins */
}

/* Additional styling for the Projects and Carousel sections */
.projects-carousel-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.project-container {
  flex: 1;
  max-width: 50%;
}

.carousel-container {
  flex: 1;
  max-width: 50%;
  margin-top: 0;
}
