/* headshot.css */

/* Styling for the headshot container */
.headshot-container {
  flex: 0 0 25%;
  height: auto;
  border-radius: 8px;
  background-color: var(--section-bg2);
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensure the headshot image fits well within the container */
.profile-image-sidebar {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
