/* nav.css */

.bg-header-bg {

}

.nav-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: var(--primary-text); /* Use a custom variable or define a color */
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link-active {
  color: var(--accent-color); /* Use a custom variable or define a color for active links */
  font-weight: bold;
  border-bottom: 2px solid var(--accent-color); /* Add a border to indicate active link */
}

.nav-link:hover {
  color: var(--accent-color); /* Use a custom variable or define a color for hover state */
  background-color: rgba(0, 0, 0, 0.1); /* Add a background color on hover */
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
