.section {
  padding: 3rem; /* Increased padding */
  margin: 3rem auto; /* Increased margin */
  width: calc(100% - var(--left-margin)); /* Adjust width based on left margin */
  max-width: 1200px; /* Limit the maximum width */
  border: 4px solid;
  border-radius: 8px;
  background-color: var(--section-bg);
  margin-left: var(--left-margin); /* Apply left margin */
}

.section-content {
  font-size: 1.125rem; /* Slightly larger font size */
  line-height: 1.6; /* Better line spacing */
  color: var(--secondary-text); /* Adjust the color as needed */
  font-weight: bold; /* Optional: Make the text bold */
  padding: 0;
  margin: 0;
  width: 80%; /* Take up 80% of the width */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
}

.section-title {
  text-decoration: underline;
  font-size: 2.5rem; /* Increase font size */
  font-weight: bold;
  margin-bottom: 1.5rem; /* Add more space below title */
  text-decoration-color: var(--secondary-color);
}

.section:nth-child(1) {
  --left-margin: 0vw;
}

.section:nth-child(2) {
  --left-margin: calc(var(--step-indent) * 1);
}

.section:nth-child(3) {
  --left-margin: calc(var(--step-indent) * 2);
}

.section:nth-child(4) {
  --left-margin: calc(var(--step-indent) * 3);
}

.section:nth-child(5) {
  --left-margin: calc(var(--step-indent) * 4);
}

.contact {
  width: 150%;
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
}

.fade-in {
  opacity: 0.145; /* Slightly reduce opacity for fade-in effect */
  transform: translateY(25px);
  transition: opacity 0.8s ease-in, transform 0.6s ease-in;
}

.fade-in.visible {
  opacity: 1; /* Full opacity when visible */
  transform: translateY(0);
}

.carousel-container {
  /* existing styles */
  overflow: hidden; /* New style to ensure Swiper displays correctly */
}

.carousel-video {
  width: 100%; /* Adjust based on your design */
  height: auto; /* Maintain aspect ratio */
}

.projects-carousel-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.skills-certifications-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Ensure sections have the same height */
  gap: 2rem; /* Add space between sections */
  max-width: 1200px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container */
  margin-top: 50px;
  padding: 2rem; /* Add padding to the sides of the container */
}

.half-section {
  flex: 1; /* Ensure both sections take up equal space */
  max-width: 100%; /* Set width to make sections wider */
  display: flex;
  flex-direction: column; /* Ensure content inside can stretch */
  padding: 1rem;
  background-color: var(--section-bg);
}

.section-text {
  font-size: 1.125rem; /* Slightly larger font size */
  line-height: 1.6; /* Better line spacing */
  color: var(--primary-text); /* Ensure text color is set */
  padding: 0;
  margin: 0;
  list-style-type: none; /* Remove default list styling */
}

.section-text li {
  margin-bottom: 1rem; /* Space between list items */
}

.section-text h3 {
  font-size: 1.5rem; /* Adjusted font size for better readability */
  font-weight: 600; /* Make the text bold */
  margin: 0; /* Remove default margins */
}

.about-section {
  background-color: var(--section-bg1);
  margin-top: 5%;
}

.education-section {
  background-color: var(--section-bg2);
}

.experience-section {
  background-color: var(--section-bg3);
}

.projects-section {
  background-color: var(--section-bg2);
}

.skills-section,
.certifications-section {
  background-color: var(--section-bg3);
}

.sectionContact {
  width: 100%;
  padding: 2rem; /* Add padding to the sides of the container */
  background-color: var(--section-bgvoid);
  border-radius: 0; /* Remove border-radius to make it stretch edge to edge */
  margin: 0; /* Remove margin to make it stretch edge to edge */
}
.about-and-headshot-container {
  display: flex;
  align-items: flex-start; /* Align items at the top */
}

.about-bg {
  background-color: var(--section-bg);
}

.headshot-container {
  width: 500px; /* Increase the width as needed */
  height: auto;
  border-radius: 8px;
  background-color: var(--section-bg2); /* Match the background color */
  padding: 1rem; /* Add padding for better spacing */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  margin-top: 2%;
  margin-right: 15%;
}

.name-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: var(--section-bg); /* Match background color */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.name-title {
  font-size: 3rem; /* Adjust font size as needed */
  font-weight: bold;
  color: var(--primary-text);
}

.carousel-container {
  overflow: hidden; /* Ensure Swiper displays correctly */
}

.carousel-video {
  width: 100%; /* Adjust based on your design */
  height: auto; /* Maintain aspect ratio */
}

.swiper {
  width: 600px; /* Adjust size as needed */
  height: 300px; /* Adjust size as needed */
}
